

/*
Margin corresponde a margem externa em relação ao elemento
padding corresponde a "margem" interna em relaçãoao elemento
background corresponde ao fundo, no qual é possivel colocar uma cor sólida única
ou em gradiente

box sizing: content box não é uma boa prática, pois
ao aumentarmos uma imagem, por exemplo, ou qualquer outro
elemento, o que ocorre é que a CAIXA DE CONTEÚDO (em que
o elemento está) aumenta e não ele em si, causando possiveis
distorções. O ideial é utilizar box-sizing:border-box


Utilizar o site: https://cssgradiente.io/
*/
* { 
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
}


#txtmenu {
display: flex;
list-style: none;
padding: 20px;
justify-content: center;
}

#menu a
{
    color: white; /* Aplicar uma cor a fonte*/
    font-family: 'Ysabeau SC', sans-serif; /* Aplicar uma fonte */
    font-size: 17px; /* Aumentar o tamanho da fonte */
    text-decoration: none; /* Tirar o sublinhado do link */
    flex-direction: row; /* Alinhar um ao lado do outro */
    margin: 6px; /* Atribuir uma margin a cada item */
}

/* Ao passar o mouse */
#menu a:hover {
    color: rgb(204, 20, 121);
}

header {

    background:  linear-gradient(90deg, rgba(92,24,61,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);

}

.apresentacao {
    display: flex;
}

h1 {
    font-size: 23px;
    color: white;
    font-family: 'Ysabeau SC', sans-serif;
    line-height: 170%;
}

.right h2 {
    font-size: 18px;
    color: white;
    font-family: 'Ysabeau SC', sans-serif;

}

.right {
    flex: 5;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
}

.left {
    flex: 5;
}

.btn {
    border: 2px;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    font-family: 'Ysabeau SC', sans-serif;
    padding: 6px;
    border-radius: 5px;
}

.btncontact {
    background:rgb(0, 0, 0);
    color: white;
    margin-top: 20px;
}

.btncontact:hover {
    background:rgb(255, 255, 255);
    color: rgb(0, 0, 0); 
}

span {
    font-size: 18px;
    color: white;
    font-family: 'Ysabeau SC', sans-serif;

}



.containerServicos {
    background: black;
    display: flex;
    justify-content: center;
    padding: 50px;
    margin-top: -8px;
}

.containerServicos h2 {
    color: rgb(255, 255, 255);
    font-size: 20px;
}

.itemServico1, .itemServico3, .itemServico6, .itemServico8 {
    border: 1px solid purple;
    border-radius: 15px;
    margin: 15px;
    padding: 40px 20px;
    text-align: center;
    width: 20%;
    font-size: 14px;
    font-family: 'Ysabeau SC', sans-serif;
    box-shadow: 10px 10px 10px -1px rgb(0, 2, 128), -6px -6px 10px -1px purple;
    transition: 0, 5s;
}

.itemServico1:hover, .itemServico3:hover, .itemServico6:hover, .itemServico8:hover{
    border: 1px solid purple;
    background: rgba(128, 0, 128, 0.473);
    cursor: pointer;

}

.itemServico2:hover, .itemServico4:hover, .itemServico5:hover, .itemServico7:hover{
    border: 1px solid rgb(0, 2, 128);
    background: rgba(128, 0, 128, 0.473);
    cursor: pointer;

}

.itemServico2, .itemServico4, .itemServico5, .itemServico7 {
    border: 1px solid rgb(0, 2, 128);
    border-radius: 15px;
    margin: 15px;
    padding: 40px 20px;
    text-align: center;
    width: 20%;
    font-size: 14px;
    font-family: 'Ysabeau SC', sans-serif;
    box-shadow: 10px 10px 10px -1px rgb(0, 2, 128), -6px -6px 10px -1px purple;
    transition: 0, 5s;
}

.containerServicos img{
    width: 60px;
}

html {
    scroll-behavior: smooth;
}

h3 {
    text-align: center;
    font-family: 'Ysabeau SC', sans-serif;
    background: black;
    padding-top: 30px;
    padding-bottom: 5px;
    font-size: 20px;
    color: rgb(255, 255, 255);
}

.containerSobreMim {
    display: flex;
    background-color: black;
    align-items: center;
    margin-top: -8px;
}

.containerSobreMim .left {
    color: white;
    margin-right: 190px;
    margin-left: 120px;
    flex: 7;
    margin-top: auto;
    margin-bottom: auto;
    text-align: left;
    line-height: 30px;
}

.containerSobreMim .right {
    background: black;
    flex: 3;
    margin-top: 30px;
    line-height: 30px;
}

.containerSobreMim video {
    border-radius: 10px;
    border: 4px solid white;
}

#SobreMim h3 {
   padding-top: 30px;
   padding-bottom: 30px;
}

.SocialMedia {
    display: flex;
}

.SocialMedia img {
    width: 30px;
}

.left h2 {
    margin-bottom: 10px;
}

.SocialMedia p {
    margin-left: 5px;
    font-family: 'Ysabeau SC', sans-serif;
    font-size: 15px;
    color: white;
}

.SocialMedia a {
    text-decoration: none;
}

.SocialMedia p:hover {
    color:blue
}

#contato {
    background: black;
    color: white;
    font-family: 'Ysabeau SC', sans-serif;
}

.containerContato h2 {
    font-size: 22px;
}

form {
    font-family: 'Ysabeau SC', sans-serif;
    max-width: 700px;
    padding-left: 50px;
    padding-bottom: 50px;
}
input, textarea {
    width: 200px;
    padding: 10px;
    color:black;
    margin-top: 10px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px ;
    border: 1px solid;

}

.displayContato {
    display: flex;
}

form h2 {
    padding-top: 20px;
    padding-bottom: 20px;

}

.mensagem {
    margin-left: 60px;
}

textarea {
    resize: none;
    width: 350px;
    height: 120px;
}

.mensagem input {
    width: 150px;
    font-size: 16px;
    cursor: pointer;
    font-family: 'Ysabeau SC', sans-serif;

}

.navColor{
    justify-content: center;
    background:  linear-gradient(90deg, rgba(92,24,61,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
}
.container-fluid{
    background:  linear-gradient(90deg, rgba(92,24,61,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1) 100%);
    margin-top: -8px;
    margin-bottom: -8px;
}

.nav-toggler {
    border: 1px solid transparent;
    margin: 7px;
}

.navbar {
    --bs-navbar-toggler-icon-bg:url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.75%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}